<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Media index</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
    <!-- <script src='main.js'></script> -->
</head>

<body>
    {% if data %}
        {% for user in data %}
        <p><a href="/status/{{ user['id'] }}">{{ user['id'] }} - {{ user['user'] }} - {{ user['track'] }}</a></p>
        {% endfor %}
    {% else %}
        <p>No users</p>
    {% endif %}
</body>

</html>