<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>User template</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
    <!-- <script src='main.js'></script> -->
</head>
<body>
    {% if data %}
        <p>State: {{ data['state'] }}</p>
        <p>Track: {{ data['track'] }}</p>
        <p>Artist: {{ data['artist'] }}</p>
        <p>Album: {{ data['album'] }}</p>
    {% else %}
        <p>No data!</p>
        <p>Start playing a song or something</p>
    {% endif %}
</body>
</html>